@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ffff00;
  --txt-color: #ffffff;
  --txt-color-2: #000;
  --second-color: #ffff0090;
  --bg-color: #070613;
  --bg-color-2: grey;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* inicio edit header */
header {
  background: var(--main-color);
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.container-fluid {
  height: 100%;
}

.row {
  height: 100%;
}
/* inicio edit logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
/* fin edit logo */

/* inicio edit nav */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

ul li {
  list-style: none;
  margin-right: 30px;
}

ul li a {
  text-decoration: none;
  color: var(--txt-color-2);
  font-weight: 600;
  font-size: 18px;
}

ul li a:hover {
  text-decoration: underline solid;
  position: relative;
  top: 2px;
}
/* fin edit nav */

/* inicio edit boton/es */
.btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn button {
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  border: 3px solid;
  transition: 0.3s;
  background: var(--txt-color);
}

.btn button:hover {
  background: var(--bg-color-2);
  transform: scale(1.1);
}
/* fin edit boton/es */

/* fin edit header */

/* inicio edit main */

/* inicio edit seccion 1 */
section {
  padding: 40px 0;
}
/* inicio edit lado izquierdo */
.txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--txt-color);
  width: 100%;
  height: 450px;
}

.txt h2 {
  font-size: 5rem;
  width: 100%;
  font-weight: 500;
  padding: 10px 0;
  cursor: default;
}

.txt h3 {
  font-size: 3rem;
  width: 100%;
  font-weight: 500;
  padding: 10px 0;
  cursor: default;
}

.txt p {
  font-size: 18px;
  font-weight: 600px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  cursor: default;
}
/* fin edit lado izquierdo */

/* inicio edit lado derecho */
.img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px white;
}
/* fin edit lado derecho */

/* fin edit seccion 1 */

/* inicio edit seccion 2 */

/* inicio edit titulo */
.titulo {
  display: flex;
  justify-content: center;
  cursor: default;
}

.titulo h2 {
  color: var(--txt-color);
  font-size: 4rem;
  text-transform: uppercase;
  text-decoration: underline 2px solid;
}
/* fin edit titulo */

/* inicio edit tarjeta */
.col-md-6 {
  display: flex;
  justify-content: center;
}

.tarjeta {
  display: flex;
  background: var(--second-color);
  margin: 10px 10px;
  border: 2px solid white;
  border-radius: 10px;
  transition: 0.3s;
  width: 80%;
}

.tarjeta:hover {
  background: var(--main-color);
  transform: scale(1.1);
}

.data {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.data i {
  font-size: 3rem;
}

.data h3 {
  font-weight: 600;
  cursor: default;
}

.data p {
  font-weight: 500;
  cursor: default;
}

.check {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: default;
}
/* fin edit tarjeta */

/* fin edit seccion 2  */

/* inicio edit seccion 3 */
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-4 .tarjeta {
  background: var(--main-color);
}
/* fin edit seccion 3 */

/* inicio edit seccion 4 */
.col-md-12-mod {
  display: flex;
  justify-content: center;
}
/* inicio edit formulario */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color-2);
  padding: 20px 10px;
  border: 2px var(--txt-color) solid;
  border-radius: 20px;
}

form input {
  width: 50%;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 10px;
  outline-style: none;
  text-align: center;
}

form input::placeholder {
  text-align: center;
  font-weight: 500;
}

form p {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  color: var(--txt-color);
}

form p select {
  outline-style: none;
  border-radius: 10px;
  padding: 5px 5px;
  font-size: 16px;
  font-weight: 500;
}

form p select option {
  font-weight: 500;
}

form .btn {
  width: 100%;
}

form .btn button {
  width: 60%;
  font-size: 20px;
  border: 2px solid var(--txt-color);
  background: none;
  color: var(--txt-color);
}

form .btn button:hover {
  background: var(--txt-color);
  color: var(--txt-color-2);
}
/* fin edit formulario */

/* fin edit seccion 4 */

/* inicio edit footer */
footer {
  background: var(--main-color);
  padding: 20px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* inicio edit de columnas */
footer .col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer .col-md-3 img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin: 10px 0;
}

footer .col-md-3 p {
  font-size: 18px;
  font-weight: 500;
}

.redes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.redes i {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  transition: 0.3s;
}

.redes i:hover {
  transform: scale(1.1);
  color: var(--bg-color-2);
  border: var(--bg-color-2);
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.info ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.info li {
  margin: 10px 0;
}

.info a {
  color: var(--bg-color-2);
}
/* fin edit columnas */

/* fin edit footer */
