@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ffff00;
  --txt-color: #ffffff;
  --txt-color-2: #000;
  --second-color: #ffff0090;
  --bg-color: #070613;
  --bg-color-2: grey;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* inicio edit header */
header {
  background: var(--main-color);
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.container-fluid {
  height: 100%;
}

.row {
  height: 100%;
}
/* inicio edit logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
/* fin edit logo */

/* inicio edit nav */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

ul li {
  list-style: none;
  margin-right: 30px;
}

ul li a {
  text-decoration: none;
  color: var(--txt-color-2);
  font-weight: 600;
  font-size: 18px;
}

ul li a:hover {
  text-decoration: underline solid;
  position: relative;
  top: 2px;
}
/* fin edit nav */

/* inicio edit boton/es */
.btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn button {
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  border: 3px solid;
  transition: 0.3s;
  background: var(--txt-color);
}

.btn button:hover {
  background: var(--bg-color-2);
  transform: scale(1.1);
}
/* fin edit boton/es */

/* fin edit header */

/* inicio edit main */

/* inicio edit seccion 1 */
section {
  padding: 40px 0;
}
/* inicio edit lado izquierdo */
.txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--txt-color);
  width: 100%;
  height: 450px;
}

.txt h2 {
  font-size: 5rem;
  width: 100%;
  font-weight: 500;
  padding: 10px 0;
  cursor: default;
}

.txt h3 {
  font-size: 3rem;
  width: 100%;
  font-weight: 500;
  padding: 10px 0;
  cursor: default;
}

.txt p {
  font-size: 18px;
  font-weight: 600px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  cursor: default;
}
/* fin edit lado izquierdo */

/* inicio edit lado derecho */
.img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px white;
}
/* fin edit lado derecho */

/* fin edit seccion 1 */

/* inicio edit seccion 2 */

/* inicio edit titulo1 */
.titulo {
  width: 100%;
  text-align: center;
  color: var(--txt-color);
}

.titulo h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline 3px solid;
  cursor: default;
}
/* fin edit titulo1 */

/* inicio edit tarjetas */
.col-md-3 {
  display: flex;
  justify-content: center;
}
.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: var(--txt-color-2);
  background: var(--bg-color-2);
  padding: 10px 0px;
  height: 300px;
  width: 62%;
  border-radius: 10px;
  border: 2px solid yellow;
  transition: 0.3s;
  margin: 20px 0;
}

.tarjeta:hover {
  transform: scale(1.1);
  color: var(--txt-color);
}

.tarjeta i {
  font-size: 4rem;
  cursor: default;
}

.tarjeta h2 {
  font-size: 26px;
  font-weight: 500;
  text-decoration: underline solid 3px;
  cursor: default;
}

.tarjeta p {
  font-size: 18px;
  font-weight: 500;
  cursor: default;
}
/* fin edit tarjetas */

/* fin edit seccion 2 */

/* la seccion 3 se modifica con los cambios de la seccion 1  */

/* inicio edit seccion 4 */

/* inicio edit tarjeta */
.col-md-4 {
  display: flex;
  justify-content: center;
}

.tarjeta-mod {
  border: none;
  box-shadow: 0 0 10px 5px white;
  width: 60%;
}
/* inicio edit titulo */
.tarjeta-mod h2 {
  text-decoration: none;
  cursor: default;
}

.tarjeta-mod p {
  cursor: default;
}
/* fin edit titulo */

/* inicio edit boton */
.btn-mod {
  width: 100%;
}

.btn-mod button {
  width: 90%;
  font-size: 18px;
  background: var(--second-color);
  border: none;
  transition: none;
}

.btn-mod button:hover {
  background: var(--main-color);
  transform: none;
}
/* fin edit boton */

/* fin edit tarjeta */

/* fin edit seccion 4 */

/* inicio edit seccion 5 */

/* el titulo se mantiene con los cambios de la clace titulo */

/* inicio edit mapa */
.col-md-12-mod {
  display: flex;
  justify-content: center;
}
/* fin edit mapa */

/* fin edit seccion 5 */

/* fin edit main */

/* inicio edit footer */
footer {
  background: var(--main-color);
  padding: 20px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* inicio edit de columnas */
footer .col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer .col-md-3 img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin: 10px 0;
}

footer .col-md-3 p {
  font-size: 18px;
  font-weight: 500;
}

.redes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.redes i {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  transition: 0.3s;
}

.redes i:hover {
  transform: scale(1.1);
  color: var(--bg-color-2);
  border: var(--bg-color-2);
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.info ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.info li {
  margin: 10px 0;
}

.info a {
  color: var(--bg-color-2);
}
/* fin edit columnas */

/* fin edit footer */
